@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    max-width: 1620px;
    /* margin: ; */
}
.container2{
    padding: 0% 15%;
}

/* font-family: 'Poppins', sans-serif; */
body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Acme', sans-serif;
}

a {
    text-decoration: none;
}

.paddingTop {
	padding-top: 100px;
}

/* .background-ats{
    background-attachment: fixed;
} */
.background-res {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.col_md_3_change {
    width: 29.166666666666%;
}

.col_5_change {
    width: 20%;
}

.featured_img{
    border-bottom: 1px solid #f5f0f0;
    transition: 0.5s;
    margin: 5px;
}
.featured_img:hover{
    background: #f5f0f0;
}

.featured_img img{
    width: 180px;
    height: 180px;
}

.planLine {
    height: 1px;
    width: 90%;
    background-color: rgb(204, 200, 200);
    margin: auto;
}

.planLine_2 {
    height: 1px;
    width: 100%;
    background-color: rgb(230, 224, 224);
    /* margin: 10px 0; */
}

.planLine_3 {
    height: 4px;
    width: 50%;

}
/* ----------------------Navber Menu--------------------- */
#Menu {
	position: fixed;
	width: 100%;
	z-index: 1000;
    /* top: 42px; */
}

.menu ul li a {
    font-size: 14px;
}
.menu ul li::after {
    content: " ";
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: red;
    display: block;
    transition: .5s;
  }
  
  .menu ul li:hover::after {
    width: 70%;
  }
  
.sub_menu_hover{
    display: none;
    transition: 0.5s;
}
.menu ul li:hover .sub_menu_hover{
    display: block;
    transition: 0.5s;
}

.bg_color {
    background-color: rgb(29, 95, 112);
}


.cat_font {
    font-size: 14px;
}



.profile {
    color: white;
    float: right;
}

.offer_icon {
    /* padding-left: 15%; */
    float: right;
}

.organic_img_1 {
    width: 100%;
    height: 450px;
}

.organic_img_3 {
    width: 100%;
    height: 213px;
}
.ogranicText1 p{
    color: orange;
    margin-bottom: 0;
}
.ogranicText1 h2{
    color: white;
}
.ogranicText1 h6{
    color: white;
}
.ogranicText2 h3{
    color: white;
    margin-bottom: 0;
}
.ogranicText2 h2{
    color: rgb(235, 162, 27);
}

.ogranicText3 h3{
    color: black;
    margin-bottom: 0;
    font-size: 22px;
}
.ogranicText3 p{
    color: black;
    margin-bottom: 0;
    font-size: 12px;
}
.ogranicText4 h3{
    color: black ;
    margin-bottom: 0;
    font-size: 22px;
}
.ogranicText4 p{
    color: black;
    margin-bottom: 0;
    font-size: 12px;
}

.organic_btn a {
    border-radius: 0px;
    background-color: orange;
    transition: 0.8s;
    border: none;
    color: white;
}

.organic_btn a:hover {
    border: none;
    background-color: white;
    color: black;
}

.col_8_change{
    width: 12.5%;
}
.cta_btn{
    display: none;
}
.cta_group:hover .cta_btn{
    display: block;
    transition: 0.8s;
}

.cta_group:hover .cta_p{
    display: none;
    transition: 0.8s;

}
.cta_btn a {
    border-radius: 0px;
    background-color: orange;
    transition: 0.8s;
    border: none;
    color: white;
    width: 100%;
}

.cta_btn a:hover {
    border: none;
    background-color: green;
    transition: 0.8s;

}
.cta {
    padding: 2px;
}

.cta_group {
    width: 100%;
    /* height: 250px; */
    background-color: #f4f1ed;
    margin: 0 auto;
    transition: 0.8s;
}

.cta_group:hover{
    background-color: white;
    border: 1px solid #dee2e6;
    transition: 0.8s;
}

.cta_group img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 25px;
}

.ftColor {
    color: rgb(5, 138, 93);
}

.food_box.png img {
    width: 200px;
    height: 200px;
}
.food_box.png:hover{
    background: #f5f0f0;
}
.featured_btn a {
    border-color: darkgray;
    border-radius: 0px;
}

.featured_btn a:hover{
    background: cornflowerblue;
    transition: 1s;
    border: none;
}

.organFood_img_1 {
    width: 100%;
    height: 380px;
}

.ogranicFoodText1 p{
    color: black;
    margin-bottom: 0;
    font-size: 14px;
}

.ogranicFoodText1 h3{
    color: black;
    padding-right: 20%;
}
.ogranicFoodText1 h6{
    color: white;
    padding-right: 20%;
    font-size: 15px;
}
.ogranicFoodText2 p{
    color: orange;
    margin-bottom: 0;
    font-size: 14px;
}

.ogranicFoodText2 h3{
    color: white;
    padding-right: 30%;
}
.ogranicFoodText2 h6{
    color: white;
    font-size: 15px;
}
.ogranicFoodText3 p{
    color: orange;
    margin-bottom: 0;
    font-size: 14px;
}

.ogranicFoodText3 h3{
    color: black;
    padding-right: 30%;
}
.ogranicFoodText3 h6{
    color: rgb(36, 35, 35);
    font-size: 15px;
}
.exclusive_img img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.organicHoney_img_1 {
    height: 680px;
    width: 100%;
}

.organicHoney_img_2 {
    height: 315px;
    width: 100%;
}


.landed_img_1 {
    height: 500px;
    width: 100%;
}

.landed_content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.flashSell_img img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.expire {
    margin: 35px;
}
.dailyFlash{
    display: flex;
}
.daily_bg_change {
    background-color: #ff6c00;
    height: 50px;
    width: 400px;
    margin-top: 25px;
}
.daily_bg_change h3{
    padding-top: 9px;
}

.interface_bg {
    background-color: rgb(247, 244, 244);
    height: 200px;
}

.homeArticle {
    border: 1px solid hsl(0, 0%, 94%);
    padding: 25px 20px;
}

.homeArticle:hover {
    border-color: green;
    transition: ease-in-out 1s;
}

.homeArticle p {
    opacity: 0.7;
    font-size: 14px;
}

.homeArticle p:hover {
    opacity: 1;
}
.homeArticle img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.homeArticle a{
    color:#585858
}
.homeArticle a:hover{
    color: green;
}


/* ---------------------- */
.our_partner_slide {
    padding: 20px 65px;

}

.slick_slide img {
    width: 200px;
    height: 200px;
    padding: 15px 10px;

}

.slick-prev.slick-arrow {
    background-color: rgba(29, 36, 45, 0.7);
    height: 30px;
    width: 30px;
}

.slick-next.slick-arrow {
    background-color: rgba(29, 36, 45, 0.7);
    height: 30px;
    width: 30px;
}


/* ---------------Contact Page---------------------- */

.contact_img img {
    width: 100%;
    height: 500px;
}

.left_comnt_box {
    /* border: 1px solid #ccc; */
    margin: 0 0 0 25px;
    /* padding: 10px 20px; */
    height: 500px;
    /* overflow: hidden; */
}

.left_comnt_box h3 {
    text-align: left;
    margin: 0 0 15px;
    font-size: 30px;

}

.comment_form input,
.comment_form textarea {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    background: hsl(0, 0%, 94%);
}

.btn_padding {
    padding: 12px 34px;
    font-size: 13px;
    border-radius: 0;
    color: #9dcca9;
    margin: 50px 0 0 0;
    transition: 1s;

}

.brance {
    border: 1px solid hsl(0, 0%, 94%);
    padding: 25px 20px;
}

.brance:hover {
    border-color: green;
    transition: ease-in-out 1s;
}

.brance p {
    opacity: 0.7;
    font-size: 14px;
}

.brance p:hover {
    opacity: 1;
}

#Contact_cta {
    background-color: #15673b;
    /* height: 150px; */
}

.cta_contact_text h3 {
    font-size: 26px;
    color: white;
    padding: 15px 0 0 0;
    font-weight: 700;
}

.search_field {
    width: 75%;
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
}

.search_btn {
    background: #ffbe52;
    padding: 15px 20px;
    border: 0;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    transition: 1s;

}

.search_btn:hover {
    background: white;
    color: black;
}

.contact_logo img {
    width: 200px;
    height: 70px;
    margin-bottom: 25px;
}

.contact_logo p {
    line-height: 26px;
    font-size: 14px;
}

.contact_logo h5 {
    color: black;
    font-weight: 500;
    margin-bottom: 18px;
}

.contact_icon i {
    color: #3d3d3e;
    margin: 2px 6px 0 0;
    border-radius: 5px;
    width: 52px;
    display: inline-block;
    font-size: 20px;
    padding: 12px 0;
    background-color: #e6e1e1;
    text-align: center;
    transition: 0.6s;
}

.contact_icon i:hover {
    background-color: #ffbe52;
    color: white;
}

/* .contact_info{
      padding: 0 20px;
  } */
.contact_info h5 {
    color: black;
    font-weight: 500;
    margin-bottom: 35px;
}

.contact_info p a {
    font-size: 14px;
    color: #686868;
}

.contact_info a:hover {
    color: black;
}

.contact_info h6 a {
    color: black;
    font-size: 15px;
}

.contact_info p {
    color: #686868;
    font-size: 14px;
}

.contact_info .tel:hover {
    color: #ffbe52;
    transition: 0.5s;
}

.footer_border {
    border-top: 1px solid #f2eeee;
}

.footer p {
    padding-bottom: 0;
    margin-top: revert;
    color: #686868;
    font-size: 13px;
}

.payment img {
    width: 50px;
    height: 35px;
    margin: 6px 20px;
}
.col_5{
    width: 20%;
}

.footer-right p a {
    padding-bottom: 0;
    margin-top: revert;
    color: #686868;
    font-size: 13px;
    float: right;
}

.contact_insta_img img {
    width: 100%;
    height: 95px;
    overflow: hidden;
    border-radius: 5px;
    /* padding: 3px; */
}

.insta_pic {
    padding: 7px;
}

/* blog */

.vegetable img {
    width: 100%;
    height: 500px;
}

.vegetable p {
    font-size: 14px;
    color: #686868;
    line-height: 26px;
}

.vegetable h2 {
    margin-bottom: 22px;
}

.vegetable h5 a {
    font-size: 18px;
    color: black;
}

.vegetable h5 {
    margin-bottom: 50px;
}


.blog_col_padding {
    padding: 8px;
}

.blog_search_field {
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding: 15px 20px;
}

.blog_search_border input {
    border: 0;
}

.blog_search_border {
    border: 1px solid #e6e2e2;
    border-radius: 5px;
}

.blog_search_btn {
    background-color: #15673b;
    margin: 3px;
    padding: 0 16px;
}

.blog_category {
    border: 1px solid #e6e2e2;
    border-radius: 2px;
    padding: 20px 30px;
}

.blog_category h4 {
    padding: 10px 0 15px 0;
}

.blog_category p {
    color: #686868;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    transition: 0.5s;
    font-size: 14px;
}

.blog_category p:hover {
    color: #1aa45a;
    border-bottom: 1px solid #82d7a9;
}

/* .blog_category p:nth-last-child(1){
    border-bottom: none;
  } */

.blog_popular_post {
    border: 1px solid #e6e2e2;
    border-radius: 2px;
    padding: 20px 30px;
}

.blog_popular_post h4 {
    padding: 10px 0 15px 0;
}

.blog_popular_content img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.blog_popular_content p {
    font-size: 14px;
    color: #686868;
    margin: 12px 0;
}

.blog_popular_content h5 {
    font-size: 18px;
    transition: 0.5s;

}

.blog_popular_content {
    border-bottom: 1px solid #ececec;
    transition: 0.5s;
    width: 100%;
    padding: 20px 0;
    display: flex;
}

.blog_popular_content:hover {
    border-bottom: 1px solid #82d7a9;
}

.blog_popular_content h5:hover {
    color: #1aa45a;
}

.tags_clouds {
    border: 1px solid #e6e2e2;
    border-radius: 2px;
    padding: 20px 30px;
}

.tags_clouds h4 {
    padding: 10px 0 15px 0;
}

.tag_button p {
    background-color: #e6e2e2;
    padding: 15px;
    font-size: 14px;
    color: #686868;
}

.tag_btn {
    color: #686868;
    padding: 12px 18px;
    font-size: 14px;
    border-radius: 0;
    border: 0;
    margin: 5px 5px 5px 0;
    transition: 1s;
    background-color: #f2f0f0;
}

.order_grocery img {
    width: 100%;
    height: 700px;
}

.order_grocery {
    position: relative;
}

.blog_grocary_content {
    position: absolute;
    left: 3%;
    top: 8%;
}

.blog_grocary_content p {
    color: #f29634;
    font-size: 16px;
    text-align: center;
}

.blog_grocary_content h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 0px 35px;
}

.apple_logo_img img {
    width: 155px;
    height: 60px;
    position: absolute;
    right: 10%;
    top: 28%;
    border-radius: 5px;
    display: block;
}

.google_logo_img img {
    width: 155px;
    height: 60px;
    position: absolute;
    left: 10%;
    top: 28%;
    border-radius: 5px;
    display: block;
}

/* -------------------------------- */
.headline {
    background: #f2f0f0;
    margin: 30px 0;
}

.headline h5 {
    padding: 5px 140px 65px 140px;
}

.headline i {
    font-size: 30px;
    color: #315de1;
}

.headline_icon {
    padding: 50px 0 0 40px;
}

.Exciting_treat h2 {
    margin-bottom: 22px;
}

.Exciting_treat p {
    font-size: 14px;
    color: #686868;
    line-height: 26px;
}

.Exciting_treat_img img {
    width: 100%;
    height: 450px;
}

.exciting_tags {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    margin: 40px 0;
    display: flex;
}

.exciting_tags p a {
    color: black;
}

.exciting_tags p a span {
    color: #686868;
}

.exciting_tags_icon i {
    color: black;
    margin: 2px 5px 0 0;
    width: 25px;
    /* display: inline-block; */
    font-size: 15px;
    padding: 20px 0;
    transition: 0.6s;
}


.exciting_tags_icon i:hover {
    color: #198754;
}

.page_author_content img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.blog_page_author {
    background-color: #eaeff0;
    padding: 40px 35px;
}

.page_author_content span {
    margin-left: 30px;
}

.page_author_content span h6 {
    font-size: 13px;
    color: #999898;
}

.page_author_content {
    display: flex;
}
.page_author_content span p {
    font-size: 15px;
    color: #686868;
    line-height: 26px;
}

.blogDetails_comment_content img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 30px;
}
.blogDetails_comment_content{
    display: flex;
}

.blogDetails_comment_content span {
    margin: 30px;
}

.blogDetails_comment_content span h6 {
    font-size: 13px;
    color: #999898;
}

.blogDetails_comment_content span p {
    font-size: 15px;
    color: #686868;
    line-height: 26px;
}

.blogDetails_comment_content .reply_btn h5 a {
    display: block;
    margin-top: 20px;
    color: black;
    transition: 0.5s;
}
.blogDetails_comment_content .reply_btn{
    display: flex;
}

.blogDetails_comment_content .reply_btn h5 a:hover {
    color: #1aa45a;
}

.blogDetails_comnt_box {
    margin: 0 0 0 25px;
    height: 500px;
}

.blogDetails_comnt_box h3 {
    text-align: left;
    margin: 0 0 15px;
    font-size: 30px;

}

.blog_comment_form input,
.blog_comment_form textarea {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    background: hsl(0, 0%, 94%);
}

.blog_btn_padding {
    padding: 15px 34px;
    font-size: 13px;
    border-radius: 0;
    border: 0;
    color: white;
    margin: 50px 0 0 0;
    transition: 1s;
    background-color: #1aa45a;
}

.blog_btn_padding:hover {
    border: 1px solid #1aa45a;
    color: black;
    background-color: white;
}

/* ------------------------------------------------------------- */

.make_shop h2 {
    font-size: 30px;
}

.make_shop p {
    font-size: 14px;
    color: #686868;
    line-height: 26px;
}

.about_delevary {
    margin-top: 30px;
}

.about_delevary i {
    font-size: 30px;
    background-color: #1aa45a;
    color: white;
    height: 60px;
    width: 60px;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.about_delevary h5 {
    font-size: 18px;
    color: black;
}

.about_delevary p {
    font-size: 14px;
    color: #686868;
    line-height: 26px;
}

.about_tometo img {
    width: 100%;
    height: 400px;
}

.about_guaranted {
    position: relative
}

.gruntedImg img {
	position: absolute;
	bottom: 25%;
	left: 32%;
	background-color: white;
	border-radius: 50%;
	width: 210px;
	height: 210px;
}

#Easily_Buy {
    background: #e6e1e1;
}

.easyBuy_heading h1 {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 40px 0;
}

.easyBuy_content {
    padding: 0 50px;
}

/* .easyBuy_content i{
    color: red;
} */

.easyBuy_bg {
    height: 30px;
    width: 21px;
    background: gray;
    /* transition: 3s; */
    margin: auto;
    transform: rotate3d(1, 1, 100, 50deg);
    padding: 27px;
    border-radius: 16px 18px;
    position: relative;
}

/* .easyBuy_icon{
    position: absolute;
    left: 16%;
    top: %;
} */
.easyBuy_content h3 {
    font-size: 34px;
    margin: 15px 0;
}

.easyBuy_content p {
    font-size: 14px;
    color: #686868;
    line-height: 26px;
    margin-bottom: 70px;
}

.supplying_btn .btn {
    border-radius: 0;
    border-color: #e6e1e1;
    color: black;
    padding: 10px 15px 5px 15px;
    margin-left: 5px;
    transition: 0.5s;
}

.supplying_btn h5 {
    font-size: 18px;
}

.supplying_btn .btn:hover {
    color: white;
}

.supplying h1 {
    padding-right: 50px;
}

.supplying_img img {
    width: 100%;
    height: auto;
    padding-right: 50px;
}

.supplying_content i {
    font-size: 35px;
    color: #1aa45a;
    margin-bottom: 20px;
}

.supplying_content h4 {
    font-size: 22px;
}

.supplying_content p {
    font-size: 14px;
    color: #686868;
    line-height: 26px;
}

.aboutSupplying_p {
    padding-right: 50px;
}

#About_Customer {
    background-color: #e6e2e2;
}

#About_Customer h1 {
    padding: 0 15px;
}


.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    /* border: 0; */
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
    border-color: #000;
    border: 1px solid #000;
}

.carousel-indicators button.active {
    background-color: #1aa45a;
}

.carousel-indicators {
    margin-bottom: -2rem;
}

.testimonmial_slide {
    font-size: 15px;
    color: #686868;
    padding: 22px 15px;
    margin: 0 auto 15px auto;
    background: white;
    border: 1px solid #f1f1f1;
    border-radius: 5px
}

.testimonmial_slide h5 {
    font-size: 18px;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonmial_slide p {
    font-size: 14px;
    color: #999;
    padding: 0px 25px;
}

.testimonmial_slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 0;
}

.testimonmial_slide h6 i {
    color: #f2a40f;
    margin-bottom: 15px;
}

.about_slider {
    margin-bottom: 150px;
}

#About_video iframe {
    margin-left: 10%;
}

.aboutVideo {
    position: relative;
}

.aboutVideo_content {
    position: absolute;
    top: 57%;
    left: 32%;
    right: 32%;
    text-align: center;
}

.aboutVideo_content h3 {
    padding: 0 50px;
}

.teamLeader_img img {
    width: 100%;
    height: 350px;
    border-radius: 7px;
    position: relative;
}

.about_teamLeader h5 {
    font-size: 18px;
    margin-top: 20px;

}

.about_teamLeader p {
    font-size: 14px;
    color: #686868;
}

.about_teamLeader {
    position: relative;
}

.teamLeader_icon {
    position: absolute;
    left: 14%;
    top: 65%;
    opacity: 0;
    transition: 2s;
}

.about_teamLeader:hover .teamLeader_icon {
    opacity: 1;
}

.teamLeader_icon i {
    color: #3d3d3e;
    margin: 2px 6px 0 0;
    border-radius: 5px;
    width: 48px;
    display: inline-block;
    font-size: 18px;
    padding: 12px 0;
    background-color: white;
    text-align: center;
    transition: 0.6s;
}

.teamLeader_icon i:hover {
    background-color: #fd6930;
    color: white;
}

.teamLeader_img::after {
    background: rgba(211, 0, 0, 0.2);
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 7px;
    transition: 0.5s;
}

.teamLeader_img:hover::after {
    opacity: 1;
}

.about_freeShipping {
    background-color: #ece4e4;
    padding: 40px 50px 30px 50px;
    border-radius: 4px;
}

.about_freeShipping_content i {
    font-size: 50px;
    margin-right: 25px;
}

.about_freeShipping_content p {
    font-size: 14px;
    color: #686868;
    line-height: 26px;
}

/* ----------------------------------------------------------- */
.wishlist_head {
    border: 1px solid #e7e6e6;
    padding: 15px;
}

.wishHead_action {
    float: right;
    margin-right: 75px;
}

.wishlist_body {
    border: 1px solid #e7e6e6;
    border-top: 0;
    border-bottom: 0;
}

.wishList_border_bottom {
    border-bottom: 1px solid #e7e6e6;
}

.wishlist_content .trustIcon{
    font-size: 20px;
    color: #b3b1b1;
    margin-right: 15px;
    transition: 0.5s;
    margin-top: 48px;
    /* padding-left: 15px; */
}

.wishlist_content .trustIcon:hover {
    color: red;
}

.wishlist_content img {
    width: 110px;
    height: 120px;
    background-color: #e9e3e3;
    padding: 15px 15px;
    border-radius: 5px;
    /* margin-right: 20px; */
}

.wishlist_content span{
    margin: auto;
}
.wishCart_price{
    color: #1aa45a;
}
.wishContent_review {
	font-size: 14px;
	color: orange;
	margin-top: 10px;
}
.wishStrock {
    margin-top: 70px;
    color: #1aa45a;
}

.wishCart {
    margin-top: 60px;
    float: right;
    margin-right: 25px;
}

.wishCart {
    border: 1px solid #e6e1e1;
    border-radius: 2px;
    padding: 10px 20px;
    color: black;
    transition: 0.5s;
}

.wishCart:hover {
    color: white;
    background-color: #1aa45a;
}

.contact_cta_D_flex{
    display: flex;
}
/* ----------------------------------------------- */
#Compare .table-hover > tbody > tr:hover {
	--bs-table-accent-bg: 0;
	color: 0;
}
.tdWidth1{
    width: 10%;
}
.tdWidth2{
    width: 30%;
}
.compaire_img{
    border-bottom: 1px solid #f5f0f0;
    transition: 0.5s;
}
.compaire_img:hover{
    background: #f5f0f0;
}

.compaire_img img{
    width: 350px;
    height: 250px;
    padding: 15px 0;
}
.compaire_review{
    padding-top: 35px;
    font-size: 20px;
    color: orange;
}
.compaire_price{
    color: #1aa45a;
}

.compaireCartBtn {
    background-color: #1aa45a;
    border-radius: 2px;
    padding: 10px 40px;
    color: white;
    transition: 0.5s;
    border: 0;
    margin-bottom: 15px;
}

.compaireCartBtn:hover {
    color: white;
    background-color: orange;
    border: 0;
}

.compareTdText{
    font-size: 14px;
    color: #686868;
    line-height: 26px;
    padding: 20px 10px !important;
}
.compareTdText_inSt{
    font-size: 14px;
    color: #1aa45a;
    line-height: 26px;
    padding: 20px 10px !important;
}
.compareTdText_outSt{
    font-size: 14px;
    color: red;
    line-height: 26px;
    padding: 20px 10px !important;
}

.compereTrustIcon {
	font-size: 25px;
	color: #686868 !important;
    margin-top: 10px;
}
.compereTrustIcon:hover{
	color: red !important;
	transition: 0.6s;
	
}
.compereTrustIcon{
	opacity: 0;
	transition: 0.8s;
}

.compaire_img:hover .compereTrustIcon{
	background: #f5f0f0;
	opacity: 1;
  }

/* ------------------------------------ */

.cartQuantity {
    margin-top: 40px;
    /* border: 1px solid gray; */ 
}
.cartQuantity .qty{
    border: 1px solid #e6e1e1;
    padding: 5px 20px;
    margin-right: 135px;
}
.t_b_margin{
    margin: 10px 0;
}
.cartQuantity a{
    color: black;
}
.wishCartSubTotal {
    margin-top: 60px;
    float: right;
    margin-right: 25px;
    padding: 10px 20px;
    color: black;
}
.wishCartSubTotal .trustIcon{
    font-size: 20px;
    color: #b3b1b1;
    margin-left: 15px;
    transition: 0.5s;
}

.wishCartSubTotal .trustIcon:hover {
    color: red;
}

.shoppingCart_category {
    border: 1px solid #e6e2e2;
    border-radius: 2px;
    padding: 20px 30px;
}

.shoppingCart_category h4 {
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #ececec;

}

.shoppingCart_category p {
    color: #686868;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    transition: 0.5s;
    font-size: 14px;
}

.shoppingCart_category p:hover {
    color: #1aa45a;
    border-bottom: 1px solid #82d7a9;
}


.shoppingCart_category .float_right{
    float: right;
}
.shoppingCart_category h6{
    padding: 20px 0 0;
}
.col_5{
    width: 20%;
}

.paymentCard img {
    width: 50px;
    height: 35px;
}
.shoppingCartBtn {
    border: 1px solid #e6e1e1;
    border-radius: 2px;
    padding: 10px 50px;
    color: black;
    transition: 0.5s;
    margin: 55px 0 0 0;
}

.shoppingCartBtn:hover {
    color: white;
    background-color: #1aa45a;
}

.updateCart {
    margin-top: 20px;
    float: right;
    /* margin-right: 25px; */
}

.updateCart {
    border: 1px solid #e6e1e1;
    border-radius: 2px;
    padding: 10px 20px;
    color: black;
    transition: 0.5s;
}

.updateCart:hover {
    color: white;
    background-color: #1aa45a;
}
.searchCart{
    margin-top: 20px;
}
.cart_search_field {
    width: 75%;
    border-radius: 5px;
    border: 0;
    padding: 15px 20px;
}
.cart_search_btn {
    background-color: #15673b;
    margin: 3px;
    /* padding: 0 36px; */
}
/* focus off code */
.blog_search_border input:focus {
	border: none;
	outline: none;
}
/* ------------------------------------------ */

.faqShopping_accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.15rem;
    font-weight: 500;
    font-family: 'Acme', sans-serif;
    transition: 0.4s;
  }
  
  .faqShopping_active, .faqShopping_accordion:hover {
    background-color: #ccc;
    /* border: 1px  solid green; */
  }
  
  .faqShopping_accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .faqShopping_active:after {
    content: "\2212";
  }
  
  .faqShopping_panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 26px;
  }

/* ---------------------------------------- */

.detailsSubImg img {
    width: 110px;
    height: 120px;
    padding: 15px 15px;
    border-radius: 2px;
    border: 1px solid #e9e3e3;
    transition: 0.5s;
}
.detailsSubImg img:hover{
    border-color: #15673b;
}
.detailsMainImg{
    margin-left: 15px;
}
.detailsMainImg img {
	width: 100%;
	height: auto;
	background-color: #e9e3e3;
	padding: 130px 45px;
	border-radius: 2px;
}
.details_review{
    /* padding-top: 35px; */
    font-size: 20px;
    color: orange;
}
.productDetails_text{
    color: rgb(78, 77, 77);
    padding-right: 15%;
}

.detailsSubImg2 img {
    width: 70px;
    height: 70px;
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid #e9e3e3;
    transition: 0.5s;
}
.detailsSubImg2 img:hover{
    border-color: #15673b;
}
.productDetails_text2{
    color: rgb(78, 77, 77);
    margin-top: 30px;
}
.productDetailsWatch{
    background-color: #1aa45a;
    padding: 6px;
    color: white;
}
.productDetails_availableSize{
    margin: 30px 0 0 0;
}
.productDetails_availableSize .form-select {
	width: 30%;
}
.productDetails_quantityTitle{
    margin: 30px 0 0 0;
}
.productDetails_quantity{
    display: flex;
}
.proQuantity .proQty {
	width: 112px;
	border: 1px solid #e6e1e1;
	padding: 7px 7px;
	margin: 15px 0;
	border-radius: 2px;
}

.proQuantity a{
    color: black;
  
}
.proQuantity .proQtyP {
	background: #f4f1f1;
	padding: 5px 10px;
}
.proQuantity .proQtyN {
	background: #f4f1f1;
	padding: 5px 11px;
}
.proQuantity .proQtyNo{
    padding: 0 10px;
}


.productDetailsCart {
	border: 0;
	border-radius: 2px;
	padding: 8px 18px;
	color: white;
	background-color: #1aa45a;
	transition: 0.5s;
	margin: 15px;
}

.productDetailsCart:hover {
    color: white;
    background-color: orange;
}
.proQtyUpDown{
    border: 1px solid #e6e1e1;
    padding: 10px 15px;
}
.proQtyUpDown i {
	font-size: 15px;
}
.proQtyUpDown {
	border: 1px solid #e6e1e1;
	padding: 7px 15px;
	margin-top: 15px;
	margin-bottom: 24px;
    margin-right: 15px;

}
.proQtyUpDown a{
    color: black;
}
.productDetails_content .productDetails_SBTC h6 {
	font-size: 15px;
	line-height: 26px;
	color: rgb(78, 77, 77);
}
.productDetails_review{
    display: flex;
}
.disAddReview{
    border-bottom: 1px solid #e6e1e1;
}
.disAddReview_menu{
    margin-left: 35%;
}
.disAddReview_menu p{
    margin-left: 25px;

}
.productDetails_discription{
    margin-top: 25px;
}
.productDetails_discription h5{
    font-size: 20px;
}

.productDetails_discription p{
    font-size: 15px;
    line-height: 26px;
    color: rgb(78, 77, 77);
}
.productDetails_feature h5 {
	font-size: 20px;
	padding: 15px 0;
}
.productDetails_feature p{
    font-size: 15px;
    color: rgb(78, 77, 77);
}
.productDetails_feature i {
	font-size: 18px;
	color: green;
}
.productDetails_shopping h5{
    font-size: 20px;
	padding: 15px 0;
}
.productDetails_shopping p{
    font-size: 15px;
    line-height: 26px;
    color: rgb(78, 77, 77);
}
.productDetails_disAddReview_ofr{
    margin-top: 35px;
}
.productDetails_disAddReview_img {
    width: 100%;
    height: 450px;
}
.productDetails_disAddReview_ofr_text p{
    color: orange;
    margin-bottom: 0;
}
.productDetails_disAddReview_ofr_text h2{
    color: white;
}
.productDetails_disAddReview_ofr_text h6{
    color: white;
}
.productDetails_disAddReview_ofr_text h5{
    font-size: 26px;
    color: orange;
}
.res_paddingLeft{
    padding-left: 20%;
}
#ProductDetails_DisAddReview .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: orange;
}
.nav-tabs .nav-link {
	color: black;
}
/* light box */
.lb-data .lb-close {
    background: url(../img/lightbox-img/close.png) top right no-repeat;

}

.lb-nav a.lb-prev {
    background: url(../img/lightbox-img/prev.png) left 48% no-repeat;
}

.lb-nav a.lb-next {
    background: url(../img/lightbox-img/next.png) right 48% no-repeat;
}

.lb-cancel {
    background: url(../img/lightbox-img/loading.gif) no-repeat;
}

/* light box */


